@inherits LayoutComponentBase

<div class="page">
	<main>
		<div style="background-color:slategray"class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>
		<article >
			@Body
		</article>
	</main>
</div>
